body {
    background: #121212;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 320px;
    margin: 100px auto;
    background: #1e1e1e;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    text-align: center;
}

h2 {
    color: #00e676;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.buttons button {
    width: 60px;
    height: 45px;
    margin: 8px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #00e676;
    color: #000;
}

.buttons button:hover {
    background: #00c853;
}

.result {
    margin-top: 15px;
    font-size: 18px;
    color: #fff;
}
